@model Category
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddOrUpdate</h2>
<br />


<div class="container">
    <form asp-controller="Category" asp-action="AddOrUpdate" method="post">
        <input type="hidden" asp-for="CategoryId" />        @*ONEMLI*@
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary my-1">Create</button>

    </form>

</div>

